<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Email de Test</title>
	</head>
	<body>
		<h1>Bonjour
			{{ nom }}</h1>
		<p>Ceci est un test d'envoi d'email avec Symfony Mailer.</p>
		<p>
			<strong>Message :</strong>
			{{ message }}</p>
	</body>
</html>
